<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<footer class="footer" style="height: 280px; width: 100%; background-color: #343a40; color: #fff; padding: 20px 0;">
    <div class="container">
      <div class="row">
        <div class="col-4 foot-tc-mar-t-o">
          <h4>Contact Us</h4>
          <p>1-University Avenue, Awantipora, Pulwama,</p>
          <p>Pin: 192122, Jammu and Kashmir</p>
          <p>GPO (Srinagar) Post Box No. 89</p>
          <p>Phone: +91 (01933) 247954 / 247955</p>
          <p>Email: ditss@iust.ac.in</p>
        </div>
        <div class="col-4 foot-tc-mar-t-o">
          <h4>Developers</h4>
          <p>Peerzada Usaib Shafi</p>
          <div class="row">
            <div class="col-12 d-flex justify-content">
                <a href="https://www.facebook.com/usaib.peer.5?mibextid=ZbWKwL" class="text-decoration-none">
                    <i class="bi bi-facebook fs-1 me-2" style="color: #1877F2;"></i>
                </a>
                <a href="https://www.instagram.com/u5aib21/" class="text-decoration-none">
                    <i class="bi bi-instagram fs-1 me-2" style="color: #E4405F;"></i>
                </a>
                <a href="https://x.com/usaib_peer?t=UJrmHBO2GwqFdNO0-07l8A&s=35" class="text-decoration-none">
                    <i class="bi bi-twitter fs-1 me-2" style="color: #1DA1F2;"></i>
                </a>
                  <a href="https://www.linkedin.com/in/peerzada-usaib-shafi-8585b42a2?utm/" class="text-decoration-none">
                    <i class="bi bi-linkedin fs-1 me-2" style="color: #00A66C2;"></i>
                </a>
                

            </div>
          </div>
        </div>
        
        <div class="col-4 text-md-end">
          <h5>Islamic University of Science and Technology</h5>
          <p>Awantipora, Kashmir</p>
          <p>&copy; 2023 Hostel Management System</p>
        </div>
      </div>
    </div>
  </footer>

