{% extends 'base.html' %}
{% block content %}
  {% include 'messages.html' %} 
  <style>
    .container {
      max-width: 1100px;
      margin: auto;
      height: auto; /* Adjusted height to reduce scrolling */
    }

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    label {
      display: block;
      margin-bottom: 2px;
      font-weight: bold;
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    /* Adjust the width of application_reason field */
    #id_application_reason {
      grid-column: 1 / span 2;
    }

    .submit-button {
      grid-column: 2 / span 1;
    }

    button[type="submit"] {
      background: linear-gradient(135deg, #71b7e6, #fc8003) !important;
      color: #fff;
      padding: 10px 15px !important;
      border-radius: 8px;
      cursor: pointer;
      width: 150px;
      margin-left: 400px;
      margin-top: 1rem;
      margin-bottom: 5px; /* Add space between the form and the button */
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
      position: relative;
      color: linear-gradient(135deg, #71b7e6, #9b59b6);
      margin-bottom: 5px;
      margin-top: 5px;
      text-align: center;
      font-weight: bold;
    }

    /* Add an underline under the container title */
    h1::before {
      content: "";
      position: absolute;
      left: 40%;
      transform: translateX(-50%);
      bottom: -5px;
      height: 3px;
      width: 8rem;
      background: linear-gradient(135deg, #0056b3, #fc8003);
    }

    p {
      font-weight: bold; /* Make the paragraph text bold */
    }
    
  </style>

  <div class="container">
    <h1>Change Room Form</h1>
    <p>Fill out the form below to request a change of room.</p>

    <form method="post" action="{% url 'before_change_room' %}">
      {% csrf_token %}
      
      <div>
        <label for="{{ form.full_name.id_for_label }}">Full Name:</label>
        {{ form.full_name }}
        
        <label for="{{ form.registration_number.id_for_label }}">Registration Number:</label>
        {{ form.registration_number }}
      </div>

      <div>
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}

        <label for="{{ form.current_room_number.id_for_label }}">Current Room Number:</label>
        {{ form.current_room_number }}
      </div>

      <label for="{{ form.current_hostel.id_for_label }}">Current Hostel:</label>
      {{ form.current_hostel }}
      
      
      <label for="{{ form.application_reason.id_for_label }}">Application Reason:</label>
      {{ form.application_reason }}



      <div class="submit-button">
        <button type="submit">Submit Request</button>
      </div>
    </form>
  </div>
{% endblock %}
