{% extends "admin/change_form.html" %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookup.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor.js' %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="id_students_container"></div>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/daily_attendance_admin.js' %}"></script>
{% endblock %}
